body{
    background-color: azure;
}

.blockquotehead h1{
    font-size: 3rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color:olivedrab;
}

.heading h1{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4rem;
    color: darkgreen;
}

.about{
    margin-top: 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}